name: Build Karing Step by Step

on:
  push:
    tags: ['v*']
  workflow_dispatch:

jobs:
  build-android-only:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2

    - name: Install dependencies
      run: flutter pub get

    - name: Build Android
      run: flutter build apk --release --split-per-abi

    - name: Upload Android
      uses: actions/upload-artifact@v4
      with:
        name: android-apks
        path: build/app/outputs/flutter-apk/
